.normal {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
}
.homeDataGreen {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #7A92B4;

}
.homeDataGreenBold {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #7a92b4;

}
.homeDataBlue {

	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: 2F5895;
}
.submenu {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 8px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;

}
.homeDataBlueBold {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: 4E8CB1;
	text-decoration: none;

}
.headDataBlueBold {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: 4E8CB1;
	text-decoration: none;

}