.report_header
{
font: bold 14pt "Angsana New"; color: #000000; text-decoration: none;
border-color:black; border-left-width:0px; border-right-width:0px; 
border-style:solid; border-top-width:1px; border-bottom-width:1px}
}

.report_footer
{
font: 10pt "Angsana New"; color: #000000; text-decoration: none;
border-color:black; border-left-width:0px; border-right-width:0px; 
border-style:solid; border-top-width:1px; border-bottom-width:0px}
}
.report_body{font: 14pt "Angsana New"; color: #000000; text-decoration: none}
.report_body_b{font: bold 14pt "Angsana New"; color: #000000; text-decoration: none}
body
{
	margin: 0px 0px;
	padding: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	scrollbar-face-color:#e6e6e6;
	scrollbar-highlight-color:#e6e6e6;
	scrollbar-3dlight-color:#e6e6e6;
	scrollbar-darkshadow-color:white;
	scrollbar-shadow-color:#e6e6e6;
	scrollbar-arrow-color:black;
	scrollbar-track-color:silver;
}
form
{
	margin: 0px 0px;
	padding: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px
}
.form_input
{
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-attachment: fixed;
	background-image: url(../images/bg-input.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;

}
.form_textarea
{
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-attachment: fixed;
	background-image: url(../images/bg-textarea.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.header {font: bold 16pt "Angsana New"; color: #000000; text-decoration: none}
.header_blue {font: bold 12pt "Tahoma"; color: blue; text-decoration: none}
.header_white {font: bold 12pt Tahoma; color: #FFFFFF; text-decoration: none}
.header_yellow {font: bold 12pt Tahoma; color: #F0F000; text-decoration: none}
.header_red {font: bold 12pt Tahoma; color: red; text-decoration: none}
.header_gray {font: bold 12pt Tahoma; color: #808080; text-decoration: none}
.header_green {font: bold 12pt Tahoma; color: green; text-decoration: none}
.micro {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.micro_b {font: bold 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.micro_tahoma {font: 8pt "Tahoma"; color: #000000; text-decoration: none}
.micro_b_tahoma {font: bold 8pt "Tahoma"; color: #000000; text-decoration: none}
.micro_blue {font: 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.micro_b_blue {font: bold 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.micro_white {font: 8pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.micro_b_white {font: bold 8pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.micro_red {font: 8pt "MS Sans Serif"; color: red; text-decoration: none}
.micro_b_red {font: bold 8pt "MS Sans Serif"; color: red; text-decoration: none}
.micro_gray {font: 8pt "MS Sans Serif"; color: #808080; text-decoration: none}
.micro_b_gray {font: bold 8pt "MS Sans Serif"; color: #808080; text-decoration: none}
.micro_green {font: 8pt "MS Sans Serif"; color: green; text-decoration: none}
.micro_b_green {font: bold 8pt "MS Sans Serif"; color: green; text-decoration: none}
.micro_orange {font: 8pt "MS Sans Serif"; color: orange; text-decoration: none}
.micro_b_orange {font: bold 8pt "MS Sans Serif"; color: orange; text-decoration: none}
.micro_brown {font: 8pt "MS Sans Serif"; color: brown; text-decoration: none}
.micro_b_brown {font: bold 8pt "MS Sans Serif"; color: brown; text-decoration: none}
.normal {font: 10pt "MS Sans Serif"; color: #000000; text-decoration: none}
.normal_b {font: bold 10pt "MS Sans Serif"; color: #000000; text-decoration: none}
.normal_tahoma {font: 10pt "Tahoma"; color: #000000; text-decoration: none}
.normal_b_tahoma {font: bold 10pt "Tahoma"; color: #000000; text-decoration: none}
.normal_blue {font: 10pt "MS Sans Serif"; color: blue; text-decoration: none}
.normal_b_blue {font: bold 10pt "MS Sans Serif"; color: blue; text-decoration: none}
.normal_white {font: 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.normal_b_white {font: bold 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.normal_red {font: 10pt "MS Sans Serif"; color: red; text-decoration: none}
.normal_b_red {font: bold 10pt "MS Sans Serif"; color: red; text-decoration: none}
.normal_gray {font: 10pt "MS Sans Serif"; color: #808080; text-decoration: none}
.normal_b_gray {font: bold 10pt "MS Sans Serif"; color: #439dc7; text-decoration: none}
.normal_green {font: 10pt "MS Sans Serif"; color: green; text-decoration: none}
.normal_b_green {font: bold 10pt "MS Sans Serif"; color: green; text-decoration: none}
.microlink:link {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink:visited {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink:active {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink:hover {font: 8pt "MS Sans Serif"; color: red; text-decoration: none}
.microlink2:link {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink2:visited {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink2:active {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink2:hover {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none; border: #ffffff solid; background-color: #CCFFCC; border-width: 2px 3px 3px 2px}
.microlink3:link {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink3:visited {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink3:active {font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none}
.microlink3:hover {font: 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.microlink_blue:link {font: 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.microlink_blue:visited {font: 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.microlink_blue:active {font: 8pt "MS Sans Serif"; color: black; text-decoration: none}
.microlink_blue:hover {font: 8pt "MS Sans Serif"; color: red; text-decoration: none}
.microlink_blue2:link {font: 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.microlink_blue2:visited {font: 8pt "MS Sans Serif"; color: brown; text-decoration: none}
.microlink_blue2:active {font: 8pt "MS Sans Serif"; color: black; text-decoration: none}
.microlink_blue2:hover {font: 8pt "MS Sans Serif"; color: red; text-decoration: none; background-color: #CCFFCC;}
.microlink_gray:link {font: 8pt "MS Sans Serif"; color: #808080; text-decoration: none}
.microlink_gray:visited {font: 8pt "MS Sans Serif"; color: #808080; text-decoration: none}
.microlink_gray:active {font: 8pt "MS Sans Serif"; color: #808080; text-decoration: none}
.microlink_gray:hover {font: 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.microlink_white:link {font: 8pt "MS Sans Serif"; color: white; text-decoration: none}
.microlink_white:visited {font: 8pt "MS Sans Serif"; color: white; text-decoration: none}
.microlink_white:active {font: 8pt "MS Sans Serif"; color: white; text-decoration: none}
.microlink_white:hover {font: 8pt "MS Sans Serif"; color: yellow; text-decoration: none}
.microlink_red:link {font: 8pt "MS Sans Serif"; color: red; text-decoration: none}
.microlink_red:visited {font: 8pt "MS Sans Serif"; color: red; text-decoration: none}
.microlink_red:active {font: 8pt "MS Sans Serif"; color: red; text-decoration: none}
.microlink_red:hover {font: 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.microlink_green:link {font: 8pt "MS Sans Serif"; color: green; text-decoration: none}
.microlink_green:visited {font: 8pt "MS Sans Serif"; color: green; text-decoration: none}
.microlink_green:active {font: 8pt "MS Sans Serif"; color: green; text-decoration: none}
.microlink_green:hover {font: 8pt "MS Sans Serif"; color: blue; text-decoration: none}
.normallink:link {font: 10pt "MS Sans Serif"; color: #000000; text-decoration: none}
.normallink:visited {font: 10pt "MS Sans Serif"; color: #000000; text-decoration: none}
.normallink:active {font: 10pt "MS Sans Serif"; color: #000000; text-decoration: none}
.normallink:hover {font: 10pt "MS Sans Serif"; color: red; text-decoration: none}
.normallink_b:link {font: bold 10pt "MS Sans Serif"; color: #000000; text-decoration: none}
.normallink_b:visited {font: bold 10pt "MS Sans Serif"; color: #000000; text-decoration: none}
.normallink_b:active {font: bold 10pt "MS Sans Serif"; color: #000000; text-decoration: none}
.normallink_b:hover {font: bold 10pt "MS Sans Serif"; color: red; text-decoration: none}
.normallink_blue:link {font: 10pt "MS Sans Serif"; color: blue; text-decoration: none}
.normallink_blue:visited {font: 10pt "MS Sans Serif"; color: blue; text-decoration: none}
.normallink_blue:active {font: 10pt "MS Sans Serif"; color: black; text-decoration: none}
.normallink_blue:hover {font: 10pt "MS Sans Serif"; color: red; text-decoration: none}
.normallink_blue2:link {font: 10pt "MS Sans Serif"; color: blue; text-decoration: none}
.normallink_blue2:visited {font: 10pt "MS Sans Serif"; color: brown; text-decoration: none}
.normallink_blue2:active {font: 10pt "MS Sans Serif"; color: black; text-decoration: none}
.normallink_blue2:hover {font: 10pt "MS Sans Serif"; color: red; text-decoration: none; background-color: #CCFFCC;}
.normallink_gray:link {font: 10pt "MS Sans Serif"; color: #808080; text-decoration: none}
.normallink_gray:visited {font: 10pt "MS Sans Serif"; color: #808080; text-decoration: none}
.normallink_gray:active {font: 10pt "MS Sans Serif"; color: #808080; text-decoration: none}
.normallink_gray:hover {font: 10pt "MS Sans Serif"; color: blue; text-decoration: none}
.normallink_red:link {font: 10pt "MS Sans Serif"; color: red; text-decoration: none}
.normallink_red:visited {font: 10pt "MS Sans Serif"; color: red; text-decoration: none}
.normallink_red:active {font: 10pt "MS Sans Serif"; color: red; text-decoration: none}
.normallink_red:hover {font: 10pt "MS Sans Serif"; color: blue; text-decoration: none}
.normallink_white:link {font: 10pt "MS Sans Serif"; color: white; text-decoration: none}
.normallink_white:visited {font: 10pt "MS Sans Serif"; color: white; text-decoration: none}
.normallink_white:active {font: 10pt "MS Sans Serif"; color: white; text-decoration: none}
.normallink_white:hover {font: 10pt "MS Sans Serif"; color: #666666; text-decoration: none}
.normallink_yellow:link {font: 10pt "MS Sans Serif"; color: yellow; text-decoration: none}
.normallink_yellow:visited {font: 10pt "MS Sans Serif"; color: yellow; text-decoration: none}
.normallink_yellow:active {font: 10pt "MS Sans Serif"; color: yellow; text-decoration: none}
.normallink_yellow:hover {font: 10pt "MS Sans Serif"; color: navy; text-decoration: none}
.normalmenu:link { font: 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.normalmenu:visited { font: 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.normalmenu:active { font: 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.normalmenu:hover { font: 10pt "MS Sans Serif"; color: #00FFFF; text-decoration: none}
.normalmenu1:link { font: 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.normalmenu1:visited { font: 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.normalmenu1:active { font: 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none}
.normalmenu1:hover { font: 10pt "MS Sans Serif"; color: #FFFFFF; text-decoration: underline}

// .button {font-family: "MS Sans Serif", "Microsoft Sans Serif"; font-size: 10px; border: #808080 solid; background-color: #FFFFFF; border-width: 1px 2px 2px 1px; color: #808080}
.background {background-attachment: scroll; background-image: url(../../images/bar2.gif); background-repeat: no-repeat}
.input_text {font-family: "MS Sans Serif"; background: #e6e6e6; color: blue; font: 8pt}
.show_help {background-color : #DEE3E7; border-style : none;}
.button0
{
	font-family: Microsoft Sans Serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 35px;
}
.button1
{
	font-family: Microsoft Sans Serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 25px;
}
.button2
{
	font-family: Microsoft Sans Serif,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 75px;
}
.button3
{
	font-family: Microsoft Sans Serif,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 110px;
}
.button4
{
	font-family: Microsoft Sans Serif,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 115px;
}
.button5
{
	font-family: Microsoft Sans Serif,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 120px;
}
.button6
{
	font-family: Microsoft Sans Serif,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 130px;
}
.button7
{
	font-family: Microsoft Sans Serif,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 140px;
}
.button8
{
	font-family: Microsoft Sans Serif,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 150px;
}
.button9
{
	font-family: Microsoft Sans Serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 180px;
}
.button10
{
	font-family: Microsoft Sans Serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 250px;
}

.button11
{
	font-family: Microsoft Sans Serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	height: 22px;
	width: 81px;
}

.select_box {height: 8px; font-family: "MS Sans Serif", "Microsoft Sans Serif"; font-size: 8px;}

.norm {color: #000000; font-family: MS Sans Serif, Microsoft Sans Serif; font-size: 9pt}
.ButtonNormal
{
	background-color: buttonface;
	border-left: buttonface solid 1px;
	border-top: buttonface solid 1px;
	border-right: buttonface solid 1px;
	border-bottom: buttonface solid 1px;
}
.ButtonPressed
{
	background-color: buttonface;
	border-left: buttonshadow solid 1px;
	border-top: buttonshadow solid 1px;
	border-right: buttonhighlight solid 1px;
	border-bottom: buttonhighlight solid 1px;
}
.ButtonMouseOver
{
	background-color: buttonface;
	border-left: buttonhighlight solid 1px;
	border-top: buttonhighlight solid 1px;
	border-right: buttonshadow solid 1px;
	border-bottom: buttonshadow solid 1px;
}
.ButtonDisabled
{
	background-color: buttonhighlight;
	border-left: buttonface solid 1px;
	border-top: buttonface solid 1px;
	border-right: buttonface solid 1px;
	border-bottom: buttonface solid 1px;
}
.button {
	font-family:MS Sans Serif; font-size:12px; color:#000000; text-decoration:none;
	background-image: url('../images/bg_button_blue.gif'); border-color:#B5C7CA;
	border-left-width:1px; border-top-width:1px; border-right-width:1px; border-bottom-width:1px;
	border-right-style:outset; border-bottom-style:outset;
	cursor:hand;
}
.button_red {
	font-family:MS Sans Serif; font-size:12px; color:#000000; text-decoration:none;
	background-image: url('../images/bg_button_red.gif'); border-color:#B5C7CA;
	border-left-width:1px; border-top-width:1px; border-right-width:1px; border-bottom-width:1px;
	border-right-style:outset; border-bottom-style:outset;
	cursor:hand;
}
.Toolbar
{
	background-color: buttonface;
	border-left: buttonhighlight solid 1px;
	border-top: buttonhighlight solid 1px;
	border-right: buttonshadow solid 1px;
	border-bottom: buttonshadow solid 1px;
	height: 30px;
}
.Divider
{
	background-color: buttonface;
	border-left: buttonshadow solid 1px;
	border-top: buttonshadow solid 1px;
	border-right: buttonhighlight solid 1px;
	border-bottom: buttonhighlight solid 1px;
	width: 2px;
	height: 24px;
}
.Space
{
	background-color: buttonface;
	width: 0px;
	height: 24px;
}
.List
{
	background: lavender;
	font: 8pt verdana,arial,sans-serif
}
.Heading
{
	color:#003366;
	background:lightgrey;
}

.center
{
    FONT-SIZE: 11pt;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.textbox {
	font-family:MS Sans Serif; font-size:10px; color:#000000; text-decoration:none;
	background-image: url('../images/bg_text.gif'); background-color:#FFFFFF;
	border-right-style:outset; border-bottom-style:outset;
	border-left-width:1px; border-top-width:1px; border-right-width:1px; border-bottom-width:1px;
}
.select {
	font-family:MS Sans Serif; font-size:10px; color:#000000; text-decoration:none;
	background-color:#EFEFEF;
	border-right-style:outset; border-bottom-style:outset;
	border-left-width:1px; border-top-width:1px; border-right-width:1px; border-bottom-width:1px;
}

.text_black {font-family: "MS Sans Serif", "Microsoft Sans Serif"; font-size: 10px; color: #000000; text-decoration: none;}
.text-backshadow-calendar {font-family: "MS Sans Serif", "Microsoft Sans Serif"; font-size: 10px; color: #000000; filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1);}
.menu_head {
	font-family: "MS Sans Serif";
	font-size: 10px;
	color: #FFFFFF;
	background-color: #7A92B4;
}
.menu_sub_active {
	font-family: "MS Sans Serif";
	font-size: 10px;
	color: #0000FF;
	background-image: url(../images/bg_button_red.gif);
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: outset;
	border-bottom-style: outset;
}
.menu_sub_nonactive {
	font-family: "MS Sans Serif";
	font-size: 10px;
	color: #000000;
	background-image: url(../images/bg_text.gif);
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: outset;
	border-bottom-style: outset;
}
