.header-systemname{		/*title รูปแบบแสดงชื่อของระบบที่หัวโปรแกรม */
	FONT-FAMILY: '2547_DAYIN01';
	COLOR: #820fbe;
	FONT-SIZE: 160%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.header-username{		/*title รูปแบบแสดงชื่อของผู้ใช้ที่หัวโปรแกรม */
	FONT-STYLE: italic;
	FONT-FAMILY: '2547_DAYIN01';
	COLOR: #8810f9;
	FONT-SIZE: 120%;
	TEXT-DECORATION: none;
}
.header_current_location{		/*title รูปแบบแสดงชื่อเมนูที่ผู้ใช้เข้าถึงบนมุมซ้ายของจอโปรแกรม */
	FONT: bold 100% 'Cordia New';
	COLOR: #c3bbbb;
	TEXT-DECORATION: none;
}
.header_current_location_table{		/*title รูปแบบพื้นหลังกลางของเมนูที่ผู้ใช้เข้าถึงบนมุมซ้ายของจอโปรแกรม */
	background-image: url('../images/tab_bg.jpg');
}
.header_current_location_right{		/*title รูปแบบพื้นหลังขวาของเมนูที่ผู้ใช้เข้าถึงบนมุมซ้ายของจอโปรแกรม */
	BACKGROUND-IMAGE: url(../images/tab_bg_right.jpg);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left 50%;
}
.layout_inactive{		/*title รูปแบบตัวอักษรหัวเรื่องหลัก */
	font: bold 100% "Cordia New";
	color: white;
	text-decoration: none;
	background-color:#999999;
	border-width: 1px;
	border-style:solid;
	border-color:#FFFFFF;
	cursor:hand;
}
.layout_active{		/*title รูปแบบตัวอักษรหัวเรื่องหลัก กรณีมีการ Activate อยู่ */
	font: 110% "Cordia New";
	color: #FFFFFF;
	text-decoration: none;
	background-color:#CCCCCC;
	border-width: 1px;
	border-style:solid;
	border-color:#FFFFFF;
	cursor:hand;
}
.layout_sub_inactive{		/*title รูปแบบตัวอักษรหัวเรื่องรอง */
	BACKGROUND-COLOR: #899ad3;
	FONT: bold 120% 'Cordia New';
	COLOR: #ffffff;
	TEXT-DECORATION: none;
}
.layout_sub_active{		/*title รูปแบบตัวอักษรหัวเรื่องรอง กรณีมีการ Activate อยู่ */
	BACKGROUND-COLOR: #9ddaf0;
	FONT: bold 120% 'Cordia New';
	COLOR: #666666;
	TEXT-DECORATION: none;
}
.layout_inactive1{		/*title รูปแบบตัวอักษรหัวเรื่องรอง */
	BACKGROUND-COLOR: #cedc6f;
	FONT: bold 120% 'Cordia New';
	COLOR: #666666;
	TEXT-DECORATION: none;
}
.layout_active1{		/*title รูปแบบตัวอักษรหัวเรื่องหลัก แบบที่ 2 กรณีมีการ Activate อยู่ */
	BACKGROUND-COLOR: #eef59f;
	FONT: bold 120% 'Cordia New';
	COLOR: #666666;
	TEXT-DECORATION: none;
}
.layout_sub_inactive1{		/*title รูปแบบตัวอักษรหัวเรื่องรอง แบบที่ 2 */
	BACKGROUND-COLOR: #f29494;
	FONT: bold 120% 'Cordia New';
	COLOR: #666666;
	TEXT-DECORATION: none;
}
.layout_sub_active1{		/*title รูปแบบตัวอักษรหัวเรื่องรอง แบบที่ 2 กรณีมีการ Activate อยู่ */
	BACKGROUND-COLOR: #fbd2d2;
	FONT: bold 120% 'Cordia New';
	COLOR: #666666;
	TEXT-DECORATION: none;
}
.label_normal{		/*title รูปแบบตัวอักษรคำอธิบายข้อมูลหลัก */
	FONT: bold 120% 'Cordia New';
	COLOR: #666666;
	TEXT-DECORATION: none;
}
.label_sub_normal{		/*title รูปแบบตัวอักษรคำอธิบายข้อมูลรอง */
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.label_normal1{		/*title รูปแบบตัวอักษรคำอธิบายข้อมูลหลัก แบบที่ 1 */
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.label_sub_normal1{		/*title รูปแบบตัวอักษรคำอธิบายข้อมูลรอง แบบที่ 1 */
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.label_readonly{		/*title รูปแบบตัวอักษรคำอธิบายข้อมูลหลัก สำหรับ ข้อมูลที่แสดงอย่างเดียว */
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.label_sub_readonly{		/*title รูปแบบตัวอักษรคำอธิบายข้อมูลรอง สำหรับ ข้อมูลที่แสดงอย่างเดียว */
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.label_readonly1{		/*title รูปแบบตัวอักษรคำอธิบายข้อมูลหลัก แบบที่ 1 สำหรับ ข้อมูลที่แสดงอย่างเดียว */
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.label_sub_readonly1{		/*title รูปแบบตัวอักษรคำอธิบายข้อมูลรอง แบบที่ 1 สำหรับ ข้อมูลที่แสดงอย่างเดียว */
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.label_alert{		/*title รูปแบบตัวอักษรของเงื่อนไขบังคับต้องป้อนหรือกรณีอื่น ๆ ที่คล้ายกัน (ตัวเดิมชื่อ text_alert) */
	BACKGROUND-IMAGE: none;
	 FONT: bold 120% 'Cordia New';
	 COLOR: #ff0000;
	 TEXT-DECORATION: none;
}
.textbox{		/*title รูปแบบช่องป้อน/แก้ไข/แสดงข้อมูล  หลัก */
	border:2;
	background: transparent url(../images/bgt.jpg) no-repeat;
	height: 22px;
	width: inherit;
	padding-top:2px;
}
.textbox1{		/*title รูปแบบช่องป้อน/แก้ไข/แสดงข้อมูล  แบบที่ 1 */
	border:2;
	background: transparent url(../images/bgt.jpg) no-repeat;
	height: 22px;
	width: inherit;
	padding-top:2px;
}
.textbox2{		/*title รูปแบบช่องป้อน/แก้ไข/แสดงข้อมูล แบบที่ 1 */
	border:2;
	background: transparent url(../images/bgt.jpg) no-repeat;
	height: 22px;
	width: inherit;
	padding-top:2px;
}
.textboxdisable{		/*title รูปแบบช่องแสดงข้อมูลอย่างเดียว หลัก */
	font: 100% "Cordia New";
	color:#4E7AA7;
	text-decoration: none;
}
.textboxdisable1{		/*title รูปแบบช่องแสดงข้อมูลอย่างเดียว แบบที่ 1 */
	font: 100% "Cordia New";
	color:#4E7AA7;
	text-decoration: none;
}
.textboxdisable2{		/*title รูปแบบช่องแสดงข้อมูลอย่างเดียว แบบที่ 2 */
	font: 100% "Cordia New";
	color:#4E7AA7;
	text-decoration: none;
}
.textshow{		/*title รูปแบบการแสดงข้อมูล หลัก */
	font: 100% "Cordia New";
	color:#4E7AA7;
	text-decoration: none;
}
.textshow1{		/*title รูปแบบการแสดงข้อมูล แบบที่ 1 */
	font: 100% "Cordia New";
	color:#4E7AA7;
	text-decoration: none;
}
.textshow2{		/*title รูปแบบการแสดงข้อมูล แบบที่ 2 */
	font: 100% "Cordia New";
	color:#4E7AA7;
	text-decoration: none;
}
.login_text{		/*title รูปแบบช่องสำหรับป้อน รหัสผู้ใช้ */
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.button{		/*title รูปแบบปุ่มคำสั่งหลัก */
	font-family:Cordia New;
	font-size:80%;
	color:#000000;
	text-decoration:none;
	cursor:hand;
}
.button1{		/*title รูปแบบปุ่มคำสั่งรอง */
	BORDER-RIGHT-WIDTH: 1px;
	FONT-FAMILY: Cordia New;
	BORDER-TOP-WIDTH: 1px;
	BORDER-BOTTOM-WIDTH: 1px;
	COLOR: #000000;
	FONT-SIZE: 80%;
	BORDER-LEFT-WIDTH: 1px;
	CURSOR: hand;
	TEXT-DECORATION: none;
}
.radio_option{		/*title รูปแบบช่องเลือก 1 ในกลุ่มข้อมูล หลัก */
	FONT-FAMILY: Cordia New;
	COLOR: #333333;
	FONT-SIZE: 100%;
	TEXT-DECORATION: none;
}
.radio_option1{		/*title รูปแบบช่องเลือก 1 ในกลุ่มข้อมูล แบบที่ 1 */
	font-family:Cordia New;
	font-size:100%;
	color:#333333;
	text-decoration:none;
}
.checkbox{		/*title รูปแบบช่องเลือก ใช่/ไม่ใช่ หลัก */
	font-family:Cordia New;
	font-size:100%;
	color:#333333;
	text-decoration:none;
}
.checkbox1{		/*title รูปแบบช่องเลือก ใช่/ไม่ใช่ แบบที่ 1 */
	font-family:Cordia New;
	font-size:100%;
	color:#333333;
	text-decoration:none;
}
.selectbox{		/*title รูปแบบช่องเลือก 1 จากกลุ่มข้อมูลแบบซ่อน หลัก */
	font-family:Cordia New;
	font-size:100%;
	color:#333333;
	text-decoration:none;
}
.selectbox1{		/*title รูปแบบช่องเลือก 1 จากกลุ่มข้อมูลแบบซ่อน แบบที่ 1 */
	font-family:Cordia New;
	font-size:100%;
	color:#333333;
	text-decoration:none;
}
.input_table{		/*title รูปแบบตารางสำหรับ จัด form ป้อนข้อมูล */
	font: 110% "Cordia New";
	color: #000000;
	text-decoration: none;
	border-width: 1.5px;
	border-style:solid;
	border-color:#999999;
}
.login_table{		/*title รูปแบบตารางสำหรับ จัด form login */
	BACKGROUND-IMAGE: url(../images/login_bg.jpg);
	BORDER-BOTTOM-STYLE: dashed;
	BORDER-RIGHT-STYLE: dashed;
	FONT: bold 120% 'Cordia New';
	BORDER-TOP-STYLE: dashed;
	COLOR: #1f66bb;
	BORDER-LEFT-STYLE: dashed;
	TEXT-DECORATION: none;
}
.table_head{		/*title รูปแบบตารางส่วนหัวตาราง */
	font: bold 100% "Cordia New";
	color: #333333;
	text-decoration: none;
	background-color: #FFCCCC;
}
.table_head1{		/*title รูปแบบตารางส่วนหัวตาราง ระดับ 1 */
	font: bold 100% "Cordia New";
	color: #333333;
	text-decoration: none;
	background-color: #FFCCCC;
}
.table_head2{		/*title รูปแบบตารางส่วนหัวตาราง ระดับ 2 */
	font: bold 100% "Cordia New";
	color: #333333;
	text-decoration: none;
	background-color: #FFCCCC;
}
.table_body{		/*title รูปแบบตารางส่วนแสดงข้อมูล หลัก (แบบที่ 1) */
	BACKGROUND-IMAGE: url(../images/);
	BACKGROUND-COLOR: #efe9fa;
	FONT: 110% 'Cordia New';
	COLOR: #8421f4;
	TEXT-DECORATION: none;
}
.table_body_over{		/*title รูปแบบตารางส่วนแสดงข้อมูล กรณี ชี้เม้าส์ หลัก (แบบที่ 1) */
	BACKGROUND-IMAGE: url(../images/);
	BACKGROUND-COLOR: #fce3e6;
	FONT: 110% 'Cordia New';
	COLOR: #d203b2;
	TEXT-DECORATION: none;
}
.table_body_2{		/*title รูปแบบตารางส่วนแสดงข้อมูล แบบที่ 2 */
	BACKGROUND-IMAGE: url(../images/);
	BACKGROUND-COLOR: #e5def5;
	FONT: 110% 'Cordia New';
	COLOR: #662697;
	TEXT-DECORATION: none;
}
.table_body_2_over{		/*title รูปแบบตารางส่วนแสดงข้อมูล กรณี ชี้เม้าส์ แบบที่ 2 */
	font: 110% "Cordia New";
	color: #D25603;
	text-decoration: none;
	background-color:#FFFFCC;
}
.table_body_3{		/*title รูปแบบตารางส่วนแสดงข้อมูล แบบที่ 3 */
	BACKGROUND-COLOR: #cdb7f8;
	FONT: 110% 'Cordia New';
	COLOR: #333333;
	TEXT-DECORATION: none;
}
.table_body_3_over{		/*title รูปแบบตารางส่วนแสดงข้อมูล กรณี ชี้เม้าส์ แบบที่ 3 */
	font: 110% "Cordia New";
	color: #D25603;
	text-decoration: none;
	background-color:#FFFFCC;
}
.table_body_4{		/*title รูปแบบตารางส่วนแสดงข้อมูล แบบที่ 4 */
	BACKGROUND-COLOR: #d9c9f7;
	COLOR: #333333;
	TEXT-DECORATION: none;
}
.table_body_4_over{		/*title รูปแบบตารางส่วนแสดงข้อมูล กรณี ชี้เม้าส์ แบบที่ 4 */
	font: 110% "Cordia New";
	color: #D25603;
	text-decoration: none;
	background-color:#FFFFCC;
}
.table_footer{		/*title รูปแบบตารางส่วนท้ายตาราง */
	BACKGROUND-COLOR: #f1e5fd;
	FONT: bold 120% 'Cordia New';
	COLOR: #7d7d7d;
	TEXT-DECORATION: none;
}
.table_footer1{		/*title รูปแบบตารางส่วนท้ายตาราง ระดับ 1 */
	BACKGROUND-COLOR: #f1e5fd;
	FONT: bold 120% 'Cordia New';
	COLOR: #7d7d7d;
	TEXT-DECORATION: none;
}
.table_footer2{		/*title รูปแบบตารางส่วนท้ายตาราง ระดับ 2 */
	BACKGROUND-COLOR: #f1e5fd;
	FONT: bold 120% 'Cordia New';
	COLOR: #7d7d7d;
	TEXT-DECORATION: none;
}
.menu_div{		/*title รูปแบบกรอบของเมนูหลัก */
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-style:solid;
	border-color: #6C98C8;
}
.menu_td{		/*title รูปแบบของกรอบเมนูย่อย */
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #6C98C8;
}
.menu_background{		/*title รูปแบบพื้นหลังของแถมเมนู */
	BACKGROUND-IMAGE: url(../images/menu_51_bg.jpg);
}
.menu_active{		/*title รูปแบบตัวอักษรชื่อเมนูของแถบเมนูหลักขณะ เม้าล์ ชี้อยู่ */
	font: bold 110% "Cordia New";
	color: #D25603;
	text-decoration: none;
}
.menu_inactive{		/*title รูปแบบตัวอักษรชื่อเมนูของแถบเมนูหลักขณะปกติ */
	font: bold 100% "Cordia New";
	color: #D25603;
	text-decoration: none;
}
.menu_sub_active{		/*title รูปแบบเมนูอีกแบบขณะ เม้าล์ ชี้อยู่ */
	font-family: "Cordia New";
	font-size: 110%;
	color: #666666;
	background-color: #FAF9ED;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_sub_nonactive{		/*title รูปแบบเมนูอีกแบบขณะปกติ */
	font-family: "Cordia New";
	font-size: 100%;
	color: #666666;
	background-color: #FAF9ED;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style:solid;
	border-color: #6C98C8;
}
.menu_lv1_active{		/*title รูปแบบเมนู รอง ลำดับที่ 1 ขณะ เม้าล์ ชี้อยู่ */
	font-family: "Cordia New";
	font-size: 110%;
	color: #666666;
	background-color: #FFFFE8;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv1_inactive{		/*title รูปแบบเมนู รอง ลำดับที่ 1 ขณะปกติ */
	BACKGROUND-IMAGE: url(../images/);
	BORDER-BOTTOM: #d8d8d8 1px solid;
	BORDER-LEFT: #d8d8d8 0px solid;
	BACKGROUND-COLOR: #faf9ed;
	FONT-FAMILY: 'Cordia New';
	COLOR: #d25103;
	FONT-SIZE: 100%;
	BORDER-TOP: #d8d8d8 0px solid;
	BORDER-RIGHT: #d8d8d8 0px solid;
}
.menu_lv2_active{		/*title รูปแบบเมนู รอง ลำดับที่ 2 ขณะ เม้าล์ ชี้อยู่ */
	font-family: "Cordia New";
	font-size: 110%;
	color: #666666;
	background-color: #FFFFD9;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv2_inactive{		/*title รูปแบบเมนู รอง ลำดับที่ 2 ขณะปกติ */
	font-family: "Cordia New";
	font-size: 100%;
	color: #D25603;
	background-color: #F0F2F4;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv3_active{		/*title รูปแบบเมนู รอง ลำดับที่ 3 ขณะ เม้าล์ ชี้อยู่ */
	font-family: "Cordia New";
	font-size: 110%;
	color: #666666;
	background-color: #FEFBC7;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv3_inactive{		/*title รูปแบบเมนู รอง ลำดับที่ 3 ขณะปกติ */
	font-family: "Cordia New";
	font-size: 100%;
	color: #D25603;
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #6C98C8;
}
.framebox{		/*title  */
	font-family:Cordia New;
	font-size:100%;
	color:#CCCCCC;
	text-decoration:none;
	background-color:#FFFFFF;
	border-right-style:outset;
	border-bottom-style:outset;
	border-left-width:0.5px;
	border-top-width:0.5px;
	border-right-width:1px;
	border-bottom-width:1px;
}
.filebox{		/*title  */
	background-image: url('../images/bg_text.gif');
	background-color:#FFFFFF;
	border-right-style:outset;
	border-bottom-style:outset;
	border-left-width:1px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
}
body{		/*title กำหนดพื้นฐานของจอภาพทั้งหมด font, ภาพพื้นหลัง, กรอบ */
	BACKGROUND-IMAGE: url(../images/dopa_bg5.png);
	SCROLLBAR-ARROW-COLOR: #666666;
	SCROLLBAR-FACE-COLOR: #e1e1e1;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	SCROLLBAR-DARKSHADOW-COLOR: #c4c4c4;
	SCROLLBAR-HIGHLIGHT-COLOR: #e1e1e1;
	SCROLLBAR-SHADOW-COLOR: #e1e1e1;
	SCROLLBAR-TRACK-COLOR: #e9e9e9;
	SCROLLBAR-3DLIGHT-COLOR: #e1e1e1;
	PADDING-TOP: 0px;
}
.body_1{		/*title  */
	margin: 0px 0px;
	padding: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	scrollbar-face-color:#E1E1E1;
	scrollbar-highlight-color:#E1E1E1;
	scrollbar-3dlight-color:#E1E1E1;
	scrollbar-darkshadow-color:#C4C4C4;
	scrollbar-shadow-color:#E1E1E1;
	scrollbar-arrow-color:#666666;
	scrollbar-track-color:#E9E9E9;
	background-image:  url(../images/dopa_bg1.png);
}
form{		/*title  */
	BACKGROUND-IMAGE: none;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}
a.link_in:link{		/*title รูปแบบของ a href link สำหรับ link ภายใน html ตอนปกติ */
	FONT-FAMILY: 'Cordia New';
	COLOR: #218f71;
	FONT-SIZE: 100%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
a.link_in:visited{		/*title รูปแบบของ a href link สำหรับ link ภายใน html ตอนมีการ click ไปแล้ว */
	BACKGROUND-IMAGE: none;
	FONT-FAMILY: 'Cordia New';
	COLOR: #218f71;
	FONT-SIZE: 100%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
a.link_in:hover{		/*title รูปแบบของ a href link สำหรับ link ภายใน html ตอนชี้เม้าส์ */
	BACKGROUND-IMAGE: none;
	FONT-FAMILY: 'Cordia New';
	COLOR: #0f4637;
	FONT-SIZE: 110%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
a.link_out:link{		/*title รูปแบบของ a href link สำหรับ link ภายนอก html ตอนปกติ */
	BACKGROUND-IMAGE: none;
	FONT-FAMILY: 'Cordia New';
	COLOR: #218f71;
	FONT-SIZE: 100%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
a.link_out:visited{		/*title รูปแบบของ a href link สำหรับ link ภายนอก html ตอนมีการ click ไปแล้ว */
	BACKGROUND-IMAGE: none;
	FONT-FAMILY: 'Cordia New';
	COLOR: #218f71;
	FONT-SIZE: 100%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
a.link_out:hover{		/*title รูปแบบของ a href link สำหรับ link ภายนอก html ตอนชี้เม้าส์ */
	BACKGROUND-IMAGE: none;
	FONT-FAMILY: 'Cordia New';
	COLOR: #0f4637;
	FONT-SIZE: 110%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
input.txt{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: #06c 1px solid;
	BORDER-LEFT: #06c 1px solid;
	BACKGROUND-COLOR: #fff;
	FONT: 110% 'Cordia New';
	BORDER-TOP: #06c 1px solid;
	CURSOR: text;
	BORDER-RIGHT: #06c 1px solid;
}
input.txtfocus{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: #06f 1px solid;
	BORDER-LEFT: #06f 1px solid;
	BACKGROUND-COLOR: #ffecf3;
	FONT: 110% 'Cordia New';
	BORDER-TOP: #06f 1px solid;
	CURSOR: text;
	BORDER-RIGHT: #06f 1px solid;
}
input.txtreadonly{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: #d8d8d8 1px solid;
	BORDER-LEFT: #d8d8d8 1px solid;
	BACKGROUND-COLOR: #ceffd0;
	FONT: 110% 'Cordia New';
	BORDER-TOP: #d8d8d8 1px solid;
	BORDER-RIGHT: #d8d8d8 1px solid;
}
input.radio{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BACKGROUND-COLOR: transparent;
	FONT: 110% 'Cordia New';
	BORDER-TOP: medium none;
	CURSOR: hand;
	BORDER-RIGHT: medium none;
}
input.radiofocus{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BACKGROUND-COLOR: #ffecf3;
	FONT: 110% 'Cordia New';
	BORDER-TOP: medium none;
	CURSOR: hand;
	BORDER-RIGHT: medium none;
}
select.txt{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: #d2d8d2 1px solid;
	BORDER-LEFT: #d2d8d2 1px solid;
	FONT: 110% 'Cordia New';
	BORDER-TOP: #d2d8d2 1px solid;
	CURSOR: hand;
	BORDER-RIGHT: #d2d8d2 1px solid;
}
select.txtfocus{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: #d8d8d8 1px solid;
	BORDER-LEFT: #d8d8d8 1px solid;
	BACKGROUND-COLOR: #ffecf3;
	FONT: 110% 'Cordia New';
	BORDER-TOP: #d8d8d8 1px solid;
	CURSOR: hand;
	BORDER-RIGHT: #d8d8d8 1px solid;
}
textarea.txt{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: #d2d8d2 1px solid;
	BORDER-LEFT: #d2d8d2 1px solid;
	FONT: 110% 'Cordia New';
	BORDER-TOP: #d2d8d2 1px solid;
	CURSOR: hand;
	BORDER-RIGHT: #d2d8d2 1px solid;
}
textarea.txtfocus{		/*title  */
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: #d8d8d8 1px solid;
	BORDER-LEFT: #d8d8d8 1px solid;
	BACKGROUND-COLOR: #6c0;
	FONT: 110% 'Cordia New';
	BORDER-TOP: #d8d8d8 1px solid;
	CURSOR: hand;
	BORDER-RIGHT: #d8d8d8 1px solid;
}
