#apDiv1{
	position:absolute;
	left:190px;
	top:27px;
	width:548px;
	height:38px;
	z-index:1;
}
body{
	margin: 0px 0px;
	padding: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	scrollbar-face-color:#E1E1E1;
	scrollbar-highlight-color:#E1E1E1;
	scrollbar-3dlight-color:#E1E1E1;
	scrollbar-darkshadow-color:#C4C4C4;
	scrollbar-shadow-color:#E1E1E1;
	scrollbar-arrow-color:#666666;
	scrollbar-track-color:#E9E9E9;
	background-image:  url(../images/dopa_bg5.png);
}
.body_1{
	margin: 0px 0px;
	padding: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	scrollbar-face-color:#E1E1E1;
	scrollbar-highlight-color:#E1E1E1;
	scrollbar-3dlight-color:#E1E1E1;
	scrollbar-darkshadow-color:#C4C4C4;
	scrollbar-shadow-color:#E1E1E1;
	scrollbar-arrow-color:#666666;
	scrollbar-track-color:#E9E9E9;
	background-image:  url(../images/dopa_bg1.png);
}
a.menu-top:link{
	font-family: "Cordia New";
	font-size: 100%;
	color: #218F71;
	text-decoration: none;
	font-weight: bold;
}
a.menu-top:visited{
	font-family: "Cordia New";
	font-size: 100%;
	color: #218F71;
	text-decoration: none;
	font-weight: bold;
}
a.menu-top:hover{
	font-family: "Cordia New";
	font-size: 110%;
	color: #0F4637;
	text-decoration: none;
	font-weight: bold;
}
.txt-systemname-header{
	FONT-FAMILY: '2547_DAYIN01';
	COLOR: #820fbe;
	FONT-SIZE: 160%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.txt-username-header{
	FONT-STYLE: italic;
	 FONT-FAMILY: '2547_DAYIN01';
	 COLOR: #8810f9;
	 FONT-SIZE: 120%;
	 TEXT-DECORATION: none;
}
.txt-white-header{
	font-family: Cordia New,Verdana, Arial, Helvetica, sans-serif;
	font-size: 140%;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
.txt-white-bold{
	font-family: "Cordia New";
	font-size: 100%;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
.txt-white{
	font-family: "Cordia New";
	font-size: 100%;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}
.txt-gray{
	font-family: "Cordia New";
	font-size: 100%;
	color: #606060;
	text-decoration: none;
	font-weight: normal;
}
.txt-gray-bold{
	font-family: "Cordia New";
	font-size: 100%;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.txt-pubple-bigbold{
	font-family: "Cordia New";
	font-size: 150%;
	color:  #306;
	text-decoration: none;
	font-weight: bold;
}
.black_small{
	font: 80% "Cordia New";
	color: #000000;
	text-decoration: none;
}
.black_normal{
	font: 100% "Cordia New";
	color: #000000;
	text-decoration: none;
}
.black_bold{
	font: bold 100% "Cordia New";
	color: #000000;
	text-decoration: none;
}
.blue_small{
	font: 80% "Cordia New";
	color: blue;
	text-decoration: none;
}
.blue_normal{
	font: 100% "Cordia New";
	color: blue;
	text-decoration: none;
}
.blue_bold{
	font: bold 100% "Cordia New";
	color: blue;
	text-decoration: none;
}
.green_small{
	font: 80% "Cordia New";
	color: green;
	text-decoration: none;
}
.green_normal{
	font: 100% "Cordia New";
	color: green;
	text-decoration: none;
}
.green_bold{
	font: bold 100% "Cordia New";
	color: green;
	text-decoration: none;
}
.brown_small{
	font: 80% "Cordia New";
	color: #D25603;
	text-decoration: none;
}
.brown_normal{
	font: 100% "Cordia New";
	color: #D25603;
	text-decoration: none;
}
.brown_bold{
	font: bold 100% "Cordia New";
	color: #D25603;
	text-decoration: none;
}
.orange_small{
	font: 80% "Cordia New";
	color: orange;
	text-decoration: none;
}
.orange_normal{
	font: 100% "Cordia New";
	color: orange;
	text-decoration: none;
}
.orange_bold{
	font: bold 100% "Cordia New";
	color: orange;
	text-decoration: none;
}
.red_small{
	font: 80% "Cordia New";
	color: red;
	text-decoration: none;
}
.red_normal{
	font: 100% "Cordia New";
	color: red;
	text-decoration: none;
}
.red_bold{
	font: bold 100% "Cordia New";
	color: red;
	text-decoration: none;
}
.gray_small{
	font: 80% "Cordia New";
	color: gray;
	text-decoration: none;
}
.gray_normal{
	font: 100% "Cordia New";
	color: gray;
	text-decoration: none;
}
.gray_bold{
	font: bold 100% "Cordia New";
	color: gray;
	text-decoration: none;
}
.txt-dayin01head{
	FONT-FAMILY: 2547_DAYIN01;
	COLOR: #be45c2;
	FONT-SIZE: 120%;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.txt-dayin01-red-small{
	font: bold 120% 2547_DAYIN01;
	color: #D25603;
	text-decoration: none;
}
.txt-dayin01-white-small{
	font: bold 120% 2547_DAYIN01;
	color: #E6E6E6;
	text-decoration: none;
}
.txt-topichead{
	font-family: "Cordia New";
	font-size: 100%;
	color: #218F71;
	text-decoration: none;
	font-weight: bold;
}
.txt-box{
	font-family: Cordia New, Verdana, sans-serif;
	color: #606060;
	border: 1px solid #E5E5E5;
	font-size: 100%;
	background-color: #FCFCFC;
}
form{
	margin: 0px 0px;
	padding: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.logon_user{ /* ไม่ได้ใช้ */
	font: bold 120% "Cordia New";
	color: #D25603;
	text-decoration: none;
}
.menu_div{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-style:solid;
	border-color: #6C98C8;
}
.menu_td{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #6C98C8;
}
.menu_background{
	BACKGROUND-IMAGE: url(../images/menu_51_bg.jpg);
}
.menu_active{
	font: bold 110% "Cordia New";
	color: #D25603;
	text-decoration: none;
}
.menu_inactive{
	font: bold 100% "Cordia New";
	color: #D25603;
	text-decoration: none;
}
.menu_sub_active{
	font-family: "Cordia New";
	font-size: 110%;
	color: #666666;
	background-color: #FAF9ED;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_sub_nonactive{
	font-family: "Cordia New";
	font-size: 100%;
	color: #666666;
	background-color: #FAF9ED;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style:solid;
	border-color: #6C98C8;
}
.menu_lv1_active{
	font-family: "Cordia New";
	font-size: 110%;
	color: #666666;
	background-color: #FFFFE8;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv1_inactive{
	BACKGROUND-IMAGE: url(../images/);
	BORDER-BOTTOM: #d8d8d8 1px solid;
	BORDER-LEFT: #d8d8d8 0px solid;
	BACKGROUND-COLOR: #faf9ed;
	FONT-FAMILY: 'Cordia New';
	COLOR: #d25103;
	FONT-SIZE: 100%;
	BORDER-TOP: #d8d8d8 0px solid;
	BORDER-RIGHT: #d8d8d8 0px solid;
}
.menu_lv2_active{
	font-family: "Cordia New";
	font-size: 110%;
	color: #666666;
	background-color: #FFFFD9;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv2_inactive{
	font-family: "Cordia New";
	font-size: 100%;
	color: #D25603;
	background-color: #F0F2F4;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv3_active{
	font-family: "Cordia New";
	font-size: 110%;
	color: #666666;
	background-color: #FEFBC7;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv3_inactive{
	font-family: "Cordia New";
	font-size: 100%;
	color: #D25603;
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #6C98C8;
}
.current_location{
	font: bold 100% "Cordia New";
	color: white;
	text-decoration: none;
}
.current_location_table{
	background-image: url('../images/tab_bg.jpg');
}
.current_location_right{
	background-image: url('../images/tab_bg_right.jpg');
	background-repeat:no-repeat;
	background-position:left;
}
.input_table{
	font: 110% "Cordia New";
	color: #000000;
	text-decoration: none;
	border-width: 1.5px;
	border-style:solid;
	border-color:#999999;
}
.login_table{
	font: bold 120% "Cordia New";
	color: #1F66BB;
	text-decoration: none;
	background-image: url('../images/login_bg.jpg');
}
.login_text{
	font: bold 120% "Cordia New";
	color: #666666;
	text-decoration: none;
}
.table_head{
	font: bold 100% "Cordia New";
	color: #333333;
	text-decoration: none;
	background-color: #FFCCCC;
}
.table_body{
	BACKGROUND-IMAGE: url(../images/);
	BACKGROUND-COLOR: #efe9fa;
	FONT: 110% 'Cordia New';
	COLOR: #8421f4;
	TEXT-DECORATION: none;
}
.table_body_over{
	BACKGROUND-IMAGE: url(../images/);
	BACKGROUND-COLOR: #fce3e6;
	FONT: 110% 'Cordia New';
	COLOR: #d203b2;
	TEXT-DECORATION: none;
}
.table_body_2{
	BACKGROUND-IMAGE: url(../images/);
	BACKGROUND-COLOR: #e5def5;
	FONT: 110% 'Cordia New';
	COLOR: #662697;
	TEXT-DECORATION: none;
}
.table_body_2_over{
	font: 110% "Cordia New";
	color: #D25603;
	text-decoration: none;
	background-color:#FFFFCC;
}
.table_body_3{
	BACKGROUND-COLOR: #cdb7f8;
	FONT: 110% 'Cordia New';
	COLOR: #333333;
	TEXT-DECORATION: none;
}
.table_body_3_over{
	font: 110% "Cordia New";
	color: #D25603;
	text-decoration: none;
	background-color:#FFFFCC;
}
.table_body_4{
	BACKGROUND-COLOR: #d9c9f7;
	COLOR: #333333;
	TEXT-DECORATION: none;
}
.table_footer{
	BACKGROUND-COLOR: #f1e5fd;
	FONT: bold 90% 'Cordia New';
	COLOR: #7d7d7d;
	TEXT-DECORATION: none;
}
.text_alert{
	font: 100% "Cordia New";
	color: red;
	text-decoration: none;
}
.text_blue{
	font: 100% "Cordia New";
	color: blue;
	text-decoration: none;
}
.text_disabled{
	font: 100% "Cordia New";
	color:#4E7AA7;
	text-decoration: none;
}
.button{
	font-family:Cordia New;
	font-size:80%;
	color:#000000;
	text-decoration:none;
	/*	background-color: #CCC;
	*/cursor:hand;
}
.textbox_old{
	font-family:"Cordia New";
	font-size:200%;
	color:#333333;
	text-decoration:none;
	background-color:#F8F8F8;
	border: 1px solid #D1D1D1;
}
.textbox{
	border:2;
	background: transparent url(../images/bgt.jpg) no-repeat;
	height: 22px;
	width: inherit;
	padding-top:2px;
}
.framebox{
	font-family:Cordia New;
	font-size:100%;
	color:#CCCCCC;
	text-decoration:none;
	background-color:#FFFFFF;
	border-right-style:outset;
	border-bottom-style:outset;
	border-left-width:0.5px;
	border-top-width:0.5px;
	border-right-width:1px;
	border-bottom-width:1px;
}
.filebox{
	background-image: url('../images/bg_text.gif');
	background-color:#FFFFFF;
	border-right-style:outset;
	border-bottom-style:outset;
	border-left-width:1px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
}
.selectbox{
	font-family:Cordia New;
	font-size:100%;
	color:#333333;
	text-decoration:none;
}
.layout_inactive{
	font: bold 100% "Cordia New";
	color: white;
	text-decoration: none;
	background-color:#999999;
	border-width: 1px;
	border-style:solid;
	border-color:#FFFFFF;
	cursor:hand;
}
.layout_active{
	font: 110% "Cordia New";
	color: #FFFFFF;
	text-decoration: none;
	background-color:#CCCCCC;
	border-width: 1px;
	border-style:solid;
	border-color:#FFFFFF;
	cursor:hand;
}
*/input{
	*/	font: 110% "Cordia New";
	*/	background-color: #FFFDCE;
	*/ เหลืองอ่อนมาก*/	border-width: 1px;
	*/	border-style:solid;
	*/	border-color:  #06C;
	*/	cursor:text;
	*/;
}
input.txt{
	font: 110% "Cordia New";
	background-color: #FFF;
	border-width: 1px;
	border-style:solid;
	border-color:  #06C;
	cursor:text;
}
input.txtfocus{
	font: 110% "Cordia New";
	background-color: #FFECF3;
	border-width: 1px;
	border-style:solid;
	border-color: #06F;
	cursor:text;
}
input.txtreadonly{
	font: 110% "Cordia New";
	background-color: #CEFFD0;
	border-width: 1px;
	border-style:solid;
	border-color:#D8D8D8;
}
input.radio{
	font: 110% "Cordia New";
	background-color:  transparent;
	border:none;
	cursor:hand;
}
input.radiofocus{
	font: 110% "Cordia New";
	background-color: #FFECF3;
	border:none;
	cursor: hand;
}
select.txt{
	font: 110% "Cordia New";
	/*	background-color: #FFFDCE;
	*/ เหลืองอ่อนมา เหลืองอ่อนมากborder-width: 1px;
	border-style:solid;
	border-color:#D2D8D2;
	cursor:hand;
}
select.txtfocus{
	font: 110% "Cordia New";
	background-color: #FFECF3;
	border-width: 1px;
	border-style:solid;
	border-color:#D8D8D8;
	cursor:hand;
}
textarea.txt{
	font: 110% "Cordia New";
	border-width: 1px;
	border-style:solid;
	border-color:#D2D8D2;
	cursor:hand;
}
