#apDiv1 {
	position:absolute;
	left:190px;
	top:27px;
	width:548px;
	height:38px;
	z-index:1;
}
body {
	margin: 0px 0px; padding: 0px 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;margin-left: 0px;
	scrollbar-face-color:#E1E1E1;
	scrollbar-highlight-color:#E1E1E1;
	scrollbar-3dlight-color:#E1E1E1;
	scrollbar-darkshadow-color:#C4C4C4;
	scrollbar-shadow-color:#E1E1E1;
	scrollbar-arrow-color:#666666;
	scrollbar-track-color:#E9E9E9;
}

a.menu-top:link{
	font-family: "MS Sans Serif";
	font-size: 10pt;
	color: #218F71;
	text-decoration: none;
	font-weight: bold;
}
a.menu-top:visited{
	font-family: "MS Sans Serif";
	font-size: 10pt;
	color: #218F71;
	text-decoration: none;
	font-weight: bold;
}
a.menu-top:hover{
	font-family: "MS Sans Serif";
	font-size: 10pt;
	color: #0F4637;
	text-decoration: none;
	font-weight: bold;
}

.txt-white-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
.txt-white-bold {
	font-family: "MS Sans Serif";
	font-size: 10pt
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
.txt-white {
	font-family: "MS Sans Serif";
	font-size: 10pt;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

.txt-gray {
	font-family: "MS Sans Serif";
	font-size: 10pt;
	color: #606060;
	text-decoration: none;
	font-weight: normal;
}
.txt-gray-bold {
	font-family: "MS Sans Serif";
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.black_small { font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none }
.black_normal { font: 10pt "MS Sans Serif"; color: #000000; text-decoration: none }
.black_bold { font: bold 10pt "MS Sans Serif"; color: #000000; text-decoration: none }
.blue_small { font: 8pt "MS Sans Serif"; color: blue; text-decoration: none }
.blue_normal { font: 10pt "MS Sans Serif"; color: blue; text-decoration: none }
.blue_bold { font: bold 10pt "MS Sans Serif"; color: blue; text-decoration: none }
.brown_small { font: 8pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.brown_normal { font: 10pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.brown_bold { font: bold 10pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.orange_small { font: 8pt "MS Sans Serif"; color: orange; text-decoration: none }
.orange_normal { font: 10pt "MS Sans Serif"; color: orange; text-decoration: none }
.orange_bold { font: bold 10pt "MS Sans Serif"; color: orange; text-decoration: none }

.txt-topichead{
	font-family: "MS Sans Serif";
	font-size: 10pt;
	color: #218F71; 
	text-decoration: none;
	font-weight: bold;
}
.txt-box {
	font-family: Verdana, sans-serif;
	color: #606060;
	border: 1px solid #E5E5E5;
	;
	font-size: 12px;
	background-color: #FCFCFC;
}

form { margin: 0px 0px; padding: 0px 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px }
.page_title { font: bold 12pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none }
.logon_user { font: bold 12pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.menu_div {
	border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px;
	border-style:solid; border-color: #6C98C8;
}
.menu_td {
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.menu_background { 
	background-image: url(../images/menu_bg.jpg);
}
.menu_active { font: bold 8pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.menu_inactive {
	font: bold 8pt "MS Sans Serif";
	color: #D25603;
	text-decoration: none
}
.menu_sub_active {
	font-family: "MS Sans Serif";
	font-size: 10px;
	color: #666666;
	background-color: #FAF9ED;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_sub_nonactive {
	font-family: "MS Sans Serif";
	font-size: 8px;
	color: #666666;
	background-color: #FAF9ED;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style:solid;
	border-color: #6C98C8;
}
.menu_lv1_active {
	font-family: "MS Sans Serif";
	font-size: 10px;
	color: #666666;
	background-color: #FFFFE8;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv1_inactive {
	font-family: "MS Sans Serif";
	font-size: 8px;
	color: #D25603;
	background-color: #FAF9ED;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv2_active {
	font-family: "MS Sans Serif";
	font-size: 10px;
	color: #666666;
	background-color: #FFFFD9;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv2_inactive {
	font-family: "MS Sans Serif";
	font-size: 8px;
	color: #D25603;
	background-color: #F0F2F4;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv3_active {
	font-family: "MS Sans Serif";
	font-size: 10px;
	color: #666666;
	background-color: #FEFBC7;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style:solid;
	border-color: #D8D8D8;
}
.menu_lv3_inactive {
	font-family: "MS Sans Serif"; font-size: 8px; color: #D25603;
	background-color: #FFFFFF;
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.current_location { 
	font: bold 10pt "MS Sans Serif"; color: white; text-decoration: none; 
}
.current_location_table { 
	background-image: url('../images/tab_bg.jpg');
}
.current_location_right { 
	background-image: url('../images/tab_bg_right.jpg');
	background-repeat:no-repeat; background-position:left;
}
.input_table {
	font: 10pt "MS Sans Serif";
	color: #000000;
	text-decoration: none;
	border-width: 1.5px;
	border-style:solid;
	border-color:#999999;
}
.login_table {
	font: bold 10pt "MS Sans Serif"; color: #1F66BB; text-decoration: none;
	background-image: url('../images/login_bg.jpg');
}
.login_text {
	font: bold 10pt "MS Sans Serif";
	color: #666666;
	text-decoration: none;
}
.table_head {
	font: bold 8pt "MS Sans Serif";
	color: #333333;
	text-decoration: none;
	background-color:#FFFF33;
}
.table_body {
	font: 10pt "MS Sans Serif";
	color: #333333;
	text-decoration: none;
	background-color:#C9D8DE;
}
.table_body_over {
	font: 10pt "MS Sans Serif";
	color: #D25603;
	text-decoration: none;
	background-color:#FFFFD5;
}
.table_body_2 {
	font: 10pt "MS Sans Serif";
	color: #333333;
	text-decoration: none;
	background-color:#EEF0F2;
}
.table_body_2_over {
	font: 10pt "MS Sans Serif";
	color: #D25603;
	text-decoration: none;
	background-color:#FFFFCC;
}
.table_body_3 {
	font: 10pt "MS Sans Serif";
	color: #333333;
	text-decoration: none;
	background-color:#DFE9EC;
}
.table_body_3_over {
	font: 10pt "MS Sans Serif";
	color: #D25603;
	text-decoration: none;
	background-color:#FFFFCC;
}
.table_footer {
	font: bold 8pt "MS Sans Serif";
	color: #7D7D7D;
	text-decoration: none;
	background-color:#EBF1F3;
}
.text_alert { font: 10pt "MS Sans Serif"; color: red; text-decoration: none }
.text_blue { font: 10pt "MS Sans Serif"; color: blue; text-decoration: none }
.text_disabled {
	font: 10pt "MS Sans Serif";
	color: #4E7AA7;
	text-decoration: none;
}

.button {
	font-family:MS Sans Serif; font-size:12px; color:#000000; text-decoration:none;
	cursor:hand;
}
.textbox {
	font-family:"MS Sans Serif";
	font-size:8px;
	color:#333333;
	text-decoration:none;
	background-color:#F8F8F8;
	border: 1px solid #D1D1D1;
}
.Tstyle {
border:0; 
background: transparent url(../images/bgt.jpg) no-repeat; 
height: 22px; width: inherit;
padding-top:2px;
}
.framebox {
	font-family:MS Sans Serif;
	font-size:8px;
	color:#CCCCCC;
	text-decoration:none;
	background-color:#FFFFFF;
	border-right-style:outset;
	border-bottom-style:outset;
	border-left-width:0.5px;
	border-top-width:0.5px;
	border-right-width:1px;
	border-bottom-width:1px;
}
.filebox {
	background-image: url('../images/bg_text.gif'); background-color:#FFFFFF;
	border-right-style:outset; border-bottom-style:outset;
	border-left-width:1px; border-top-width:1px; border-right-width:1px; border-bottom-width:1px;
}
.selectbox {
	font: 10pt "MS Sans Serif"; color: #333333; text-decoration: none 
}
.layout_inactive{
	font: bold 8pt "MS Sans Serif";
	color: white;
	text-decoration: none;
	background-color:#999999;
	border-width: 1px;
	border-style:solid;
	border-color:#FFFFFF;
	cursor:hand;
}
.layout_active{
	font: 10pt "MS Sans Serif";
	color: #FFFFFF;
	text-decoration: none;
	background-color:#CCCCCC;
	border-width: 1px;
	border-style:solid;
	border-color:#FFFFFF;
	cursor:hand;
}
