body {
	margin: 0px 0px; padding: 0px 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;margin-left: 0px;
	scrollbar-face-color:#FEE8AC;
	scrollbar-highlight-color:#FEE8AC;
	scrollbar-3dlight-color:#FEE8AC;
	scrollbar-darkshadow-color:white;
	scrollbar-shadow-color:#FEE8AC;
	scrollbar-arrow-color:#D25603;
	scrollbar-track-color:#FEDD80;
}
form { margin: 0px 0px; padding: 0px 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px }
.page_title { font: bold 12pt "MS Sans Serif"; color: #FFFFFF; text-decoration: none }
.logon_user { font: bold 12pt "MS Sans Serif"; color: #000000; text-decoration: none }
.menu_div {
	border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px;
	border-style:solid; border-color: #6C98C8;
}
.menu_td {
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.menu_background { 
	background-image: url(../images/menu_bg.jpg);
}
.menu_active { font: bold 8pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.menu_inactive { font: bold 8pt "MS Sans Serif"; color: #1F66BB; text-decoration: none }
.menu_sub_active {
	font-family: "MS Sans Serif"; font-size: 10px; color: #0000FF;
	background-color: #FAF9ED; 
	border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;
	border-style:solid; border-color: #6C98C8;
}
.menu_sub_nonactive {
	font-family: "MS Sans Serif"; font-size: 8px; color: #000000;
	background-color: #FAF9ED;
	border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;
	border-style:solid; border-color: #6C98C8;
}
.menu_lv1_active {
	font-family: "MS Sans Serif"; font-size: 10px; color: #0000FF;
	background-color: #FEE8AC; 
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.menu_lv1_inactive {
	font-family: "MS Sans Serif"; font-size: 8px; color: #1F66BB;
	background-color: #FAF9ED;
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.menu_lv2_active {
	font-family: "MS Sans Serif"; font-size: 10px; color: #0000FF;
	background-color: #FEE8AC; 
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.menu_lv2_inactive {
	font-family: "MS Sans Serif"; font-size: 8px; color: #D25603;
	background-color: #EDF0F5;
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.menu_lv3_active {
	font-family: "MS Sans Serif"; font-size: 10px; color: #0000FF;
	background-color: #FEFAAC; 
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.menu_lv3_inactive {
	font-family: "MS Sans Serif"; font-size: 8px; color: #D25603;
	background-color: #FFFFFF;
	border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;
	border-style:solid; border-color: #6C98C8;
}
.current_location { 
	font: bold 10pt "MS Sans Serif"; color: white; text-decoration: none; 
}
.current_location_table { 
	background-image: url('../images/tab_bg.jpg');
}
.current_location_right { 
	background-image: url('../images/tab_bg_right.jpg');
	background-repeat:no-repeat; background-position:left;
}
.input_table {
	font: 10pt "MS Sans Serif"; color: #000000; text-decoration: none;
	border-width: 1.5px; border-style:solid; border-color:darkorange;
}
.login_table {
	font: bold 10pt "MS Sans Serif"; color: #1F66BB; text-decoration: none;
	background-image: url('../images/login_bg.jpg');
}
.login_text {
	font: bold 10pt "MS Sans Serif"; color: #1F66BB; text-decoration: none;
}
.table_head {
	font: bold 8pt "MS Sans Serif"; color: white; text-decoration: none;
	background-color:#439dc7;
	
	}
.table_head td {
white-space:nowrap;
}		

.table_body {
	font: 10pt "MS Sans Serif"; color: blue; text-decoration: none;
	background-color:lightblue;
}
.table_body_over {
	font: 10pt "MS Sans Serif"; color: blue; text-decoration: none;
	background-color:#FFFFCC;
}
.table_body_2 {
	font: 10pt "MS Sans Serif"; color: black; text-decoration: none;
	background-color:#E1EDF5;
}
.table_body_2_over {
	font: 10pt "MS Sans Serif"; color: black; text-decoration: none;
	background-color:#FFFFCC;
}
.table_body_3 {
	font: 10pt "MS Sans Serif"; color: #1F66BB; text-decoration: none;
	background-color:#EDF0F5;
}
.table_body_3_over {
	font: 10pt "MS Sans Serif"; color: #1F66BB; text-decoration: none;
	background-color:#FFFFCC;
}
.table_footer {
	font: bold 8pt "MS Sans Serif"; color: white; text-decoration: none;
	background-color:#439dc7;
}
.text_alert { font: 10pt "MS Sans Serif"; color: red; text-decoration: none }
.text_disabled { font: 10pt "MS Sans Serif"; color: #1F66BB; text-decoration: none; }
.black_small { font: 8pt "MS Sans Serif"; color: #000000; text-decoration: none }
.black_normal { font: 10pt "MS Sans Serif"; color: #000000; text-decoration: none }
.black_bold { font: bold 10pt "MS Sans Serif"; color: #000000; text-decoration: none }
.blue_small { font: 8pt "MS Sans Serif"; color: blue; text-decoration: none }
.blue_normal { font: 10pt "MS Sans Serif"; color: blue; text-decoration: none }
.blue_bold { font: bold 10pt "MS Sans Serif"; color: blue; text-decoration: none }
.brown_small { font: 8pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.brown_normal { font: 10pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.brown_bold { font: bold 10pt "MS Sans Serif"; color: #D25603; text-decoration: none }
.orange_small { font: 8pt "MS Sans Serif"; color: orange; text-decoration: none }
.orange_normal { font: 10pt "MS Sans Serif"; color: orange; text-decoration: none }
.orange_bold { font: bold 10pt "MS Sans Serif"; color: orange; text-decoration: none }
.button {
	font-family:MS Sans Serif; font-size:12px; color:#000000; text-decoration:none;
	cursor:hand;
}
.textbox {
	font-family:MS Sans Serif; font-size:8px; color:#000000; text-decoration:none;
	background-image: url('../images/bg_text.gif'); background-color:#FFFFFF;
	border-right-style:outset; border-bottom-style:outset;
	border-left-width:1px; border-top-width:1px; border-right-width:1px; border-bottom-width:1px;
}
.Tstyle {
border:0; 
background: transparent url(../images/bgt.jpg) no-repeat; 
height: 22px; width: inherit;
padding-top:2px;
}
.framebox {
	font-family:MS Sans Serif; font-size:8px; color:#000000; text-decoration:none;
	background-color:#FFFFFF;
	border-right-style:outset; border-bottom-style:outset;
	border-left-width:0.5px; border-top-width:0.5px; border-right-width:1px; border-bottom-width:1px;
}
.filebox {
	background-image: url('../images/bg_text.gif'); background-color:#FFFFFF;
	border-right-style:outset; border-bottom-style:outset;
	border-left-width:1px; border-top-width:1px; border-right-width:1px; border-bottom-width:1px;
}
.selectbox {
	font-family:MS Sans Serif; font-size:10px; color:#000000; text-decoration:none;
	background-color:lightblue;
}
.layout_inactive{
	font: bold 8pt "MS Sans Serif"; color: white; text-decoration: none;
	background-color:#439dc7;
	border-width: 1px; border-style:solid; border-color:#FFFFCC;
	cursor:hand;
}
.layout_active{
	font: 10pt "MS Sans Serif"; color: blue; text-decoration: none;
	background-color:lightblue;
	border-width: 1px; border-style:solid; border-color:#FFFFCC;
	cursor:hand;
}