[ชื่อหน่วยงาน,$db_type,$db_host,$db_name,$db_user,$db_pwd,$org_title][-> = active]
0.กพ.ทดสอบ,oci8,164.115.146.226,ES,ocsc,ocsc,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กพ.ทดสอบ]</font><font color=red>เป็นข้อมูลสำหรับทดสอบ</font></marquee></h1>;
1.กพ.ฐานจริง ocsc,oci8,164.115.146.141,ES,ocsc_org,ocscorg,<br><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล ของสำนักงาน กพ. ฐานข้อมูลจาก 8.5</font>;
2.สำนักงานกิจการยุติธรรม,oci8,164.115.146.226,ES,ocsc_oja,ocscoja,<br><font color=red><marquee>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล[] ซึ่งเป็นข้อมูลจริง</marquee></font>;
3.กระทรวงวิทยาศาสตร์ most,oci8,164.115.146.141,ES,ocsc_most,ocscmost,<br><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล[] ซึ่งเป็นข้อมูลจริง</font>;
4.ฐานจาก กพ. server 8.5 : 60,oci8,164.115.146.226,ES,ocsc60,ocsc60,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[]</font> <font color=red>8.5</font></marquee></h1>;
5.กรมควบคุมโรค DDC,oci8,164.115.146.226,ES,ocsc_ddc,ocscddc,<br><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[]</font> <font color=red>กรมควบคุมโรค</font></marquee>;
6.กรมป่าไม้ (mysql),mysql,localhost,dpis35rfd,root,,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[]</font> <font color=red>กรมป่าไม้</font></marquee></h1>;
7.สำนักงานปลัดกระทรวงเกษตรและสหกรณ์,oci8,164.115.146.226,ES,ocsc_opsmoac,ocscopsmoac,<br><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[".$db_user.":".$db_host."]</font> <font color=red>สำนักงานปลัดกระทรวงเกษตรและสหกรณ์</font></marquee>;
8.ocsc59,oci8,164.115.146.226,ES,ocsc59,ocsc59,;
9.กรมการปกครอง,oci8,164.115.146.226,ES,ocsc_dopa,ocscdopa,;
10.สำนักงานจังหวัดลำปาง,oci8,164.115.146.226,ES,ocsc_lampang,ocsclampang,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[สำนักงานจังหวัดลำปาง]</font> </marquee></h1>;
11.ศูนย์สารสนเทศหม่อนไหมและประชาสัมพันธ์ สำนักบริหารกลาง กรมหม่อนไหม,oci8,164.115.146.226,ES,ocsc_qsds,ocscqsds,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[ศูนย์สารสนเทศหม่อนไหมและประชาสัมพันธ์ สำนักบริหารกลาง กรมหม่อนไหม]</font> </marquee></h1>;
12.กรมส่งเสริมการปกครองท้องถิ่น,oci8,164.115.146.226,ES,ocsc_dlaold,ocscdlaold,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมส่งเสริมการปกครองท้องถิ่น OLD]</font> </marquee></h1>;
13.สำนักงาน ปปส.,oci8,164.115.146.226,ES,ocsc_oic,ocscoic,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[สำนักงาน ปปส.]</font> </marquee></h1>;
14.mict-กระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร,oci8,164.115.146.226,ES,ocsc_mict,ocscmict,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร]</font> </marquee></h1>;
15.สำนักงานประกันสังคม,oci8,164.115.146.226,ES,ocsc_sso,ocscsso,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[สำนักงานประกันสังคม]</font> </marquee></h1;
16.สำนักงบประมาณ,oci8,164.115.146.226,ES,ocsc_bb,ocscbb,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[สํานักงบประมาณ]</font> </marquee></h1>;
17.ops-สป พาณิชย์   เมษา 2560,oci8,164.115.146.226,ES,ocsc_dbd,ocscdbd,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[สํานักงบประมาณ]</font> </marquee></h1>;
18.กรมกิจการเด็กและเยาวชน ล่าสุดนำเข้าวันที่ 14/03/2018,oci8,164.115.146.226,ES,ocsc_dcy,ocscdcy,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมกิจการเด็กและเยาวชน]</font> </marquee></h1>;
19.กรมพินิจคุ้มครองเด็กและเยาวชน,oci8,164.115.146.226,ES,ocsc_djob,ocscdjob,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมพินิจคุ้มครองเด็กและเยาวชน]</font> </marquee></h1>;
20.กรมป่าไม้   oracle,oci8,164.115.146.226,ES,ocsc_rfd,ocscrfd,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมป่าไม้]</font> </marquee></h1>;
21.กรมธุรกิจพลังงาน,oci8,164.115.146.226,ES,ocsc_erc,ocscerc,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมธุรกิจพลังงาน]</font> </marquee></h1>;
22.ocsc61,oci8,164.115.146.226,ES,ocsc61,ocsc61,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กพ.61]</font> </marquee></h1>;
23.พัฒนาชุมชน,oci8,164.115.146.226,ES,ocsccdd,ocsccdd,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[พัฒนาชุมชน]</font> </marquee></h1>;
24.dpt กรมโยธา,oci8,164.115.146.226,ES,ocsc_dpt,ocscdpt,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมโยธา]</font> </marquee></h1>;
25.ocsc_dlt=กรมการขนส่งทางบก,oci8,164.115.146.226,ES,ocsc_dlt,ocscdlt,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมการขนส่งทางบก]</font> </marquee></h1>;
26.OCSC_FISH กรมประมง,oci8,164.115.146.226,ES,ocsc_fish,ocscfish,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมประมง]</font> </marquee></h1>;
27.prd=กรมประชาสัมพันธ์,oci8,164.115.146.226,ES,ocsc_prd,ocscprd,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมประชาสัมพันธ์]</font> </marquee></h1>;
28.labour-กรมสวัสดิการฯ,oci8,164.115.146.226,ES,ocsc_labour,ocsclabour,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมสวัสดิการฯ]</font> </marquee></h1>;
29.กรมส่งเสริมคุณภาพสิ่งแวดล้อม,oci8,164.115.146.226,ES,ocsc_deqp,ocscdeqp,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมส่งเสริมคุณภาพสิ่งแวดล้อม]</font> </marquee></h1>;
->30.ocsc62*,oci8,164.115.146.226,ES,ocsc62,ocsc62,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กพ. 62]</font> </marquee></h1>;
31.สำนักงานคณะกรรมการวิจัยแห่งชาติ,oci8,164.115.146.226,ES,ocsc_nrc,ocscnrc,<br><h1><marquee><font color=red></font> <font color=black>[สำนักงานคณะกรรมการวิจัยแห่งชาติ]</font> </marquee></h1>;
32.ocsc_dmh กรมสุขภาพจิต,oci8,164.115.146.226,ES,ocsc_dmh,ocscdmh,<br><h1><marquee><font color=red></font> <font color=black>[กรมสุขภาพจิต]</font> </marquee></h1>;
33.DEP=กรมส่งเสริมและพัฒนาคุณภาพชีวิตคนพิการ,oci8,164.115.146.226,ES,ocsc_dep,ocscdep,<br><h1><marquee><font color=red></font> <font color=black>[กรมส่งเสริมและพัฒนาคุณภาพชีวิตคนพิการ]</font> </marquee></h1>;
34.ocsc_nsc สำนักงานสภาความมั่นคงแห่งชาติ,oci8,164.115.146.226,ES,ocsc_nsc,ocscnsc,<br><h1><marquee><font color=red></font> <font color=black>[สำนักงานสภาความมั่นคงแห่งชาติ]</font> </marquee></h1>;
35.ocsc_soc สำนักงานเลขาธิการคณะรัฐมนตรี,oci8,164.115.146.226,ES,ocsc_soc,ocscsoc,<br><h1><marquee><font color=red></font> <font color=black>[สำนักงานเลขาธิการคณะรัฐมนตรี]</font> </marquee></h1>;
36.xp,oci8,164.115.146.186,ES,ocsc62,ocsc62,<br><h1><marquee><font color=red></font> <font color=black>[164.115.146.176]</font> </marquee></h1>;
37.ocsc_soc กรมศิลปกร,oci8,164.115.146.226,ES,ocsc_art,ocscart,<br><h1><marquee><font color=red></font> <font color=black>[กรมศิลปกร]</font> </marquee></h1>;
38.กรมฝนหลวง,oci8,164.115.146.226,ES,ocsc_royalrain,ocscroyalrain,<br><h1><marquee><font color=red></font> <font color=black>[กรมฝนหลวง]</font> </marquee></h1>;
39.สำนักงบประมาณล่าสุด,oci8,164.115.146.226,ES,ocsc_bb61,ocscbb61,<br><h1><marquee><font color=red></font> <font color=black>[สำนักงบประมาณ61]</font> </marquee></h1>;
40.สำนักงานการปฏิรูปที่ดินเพื่อเกษตรกรรม สปก.,oci8,164.115.146.226,ES,ocsc_alro,ocscalro,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[]</font> <font color=red>สำนักงานการปฏิรูปที่ดินเพื่อเกษตรกรรม</font></marquee></h1>;
41.ร้อยเอ็ด,oci8,164.115.146.226,ES,ocsc_roiet,ocscroiet,<br><h1><marquee><font color=red></font> <font color=black>[ร้อยเอ็ด]</font> </marquee></h1>;
42.ss,oci8,164.115.146.226,ES,ocsc_dcis,ocscdcis,<br><h1><marquee><font color=red></font> <font color=black>[ss]</font> </marquee></h1>;
43.nacc ปปช.,oci8,164.115.146.226,ES,ocsc_nacc,ocscnacc,<br><h1><marquee><font color=red></font> <font color=black>[ปปช.]</font> </marquee></h1>;
44.ocsc_dede  กรมอนุรักษ์พลังงาน,oci8,164.115.146.226,ES,dpis,ocscdpis,<br><h1><marquee><font color=red></font> <font color=black>[กรมอนุรักษ์พลังงาน]</font> </marquee></h1>;
45.ocsc_oncd61  ปปส 61,oci8,164.115.146.226,ES,ocsc_oncd61,ocsconcb61,<br><h1><marquee><font color=red></font> <font color=black>[ปปส61 เรียงอาวุโส]</font> </marquee></h1>;
46.ocsc_dld  กรมปศุสัตว์,oci8,164.115.146.226,ES,ocsc_dld,ocscdld,<br><h1><marquee><font color=red></font> <font color=black>[กรมปศุสัตว์]</font> </marquee></h1>;
47.ocsc_dcis SEIS,oci8,164.115.146.226,ES,ocsc_dcis,ocscdcis,<br><h1><marquee><font color=red></font> <font color=black>[กรมปศุสัตว์]</font> </marquee></h1>;
48.ocscatt ก้อนเะกี่ยวกับการลงเวลา,oci8,164.115.146.226,ES,ocscatt,ocscatt,<br><h1><marquee><font color=red></font> <font color=black>[ocsc att]</font> </marquee></h1>;
49.ocsc_rtaf กองกำลังพลทหารอากาศ,oci8,164.115.146.226,ES,ocsc_rtaf,ocscrtaf,<br><h1><marquee><font color=red></font> <font color=black>[กองกำลังพลทหารอากาศ]</font> </marquee></h1>;
50.ocsc_dcy61 กรมกิจการเด็กและเยาวชน61,oci8,164.115.146.226,ES,ocsc_dcy61,ocscdcy61,<br><h1><marquee><font color=red></font> <font color=black>[กรมกิจการเด็กและเยาวชน61]</font> </marquee></h1>;
51.ocsc_nrct สำนักงานคณะกรรมการวิจัยแห่งชาติ   ณ วันที่ 8 พ.ค 61,oci8,164.115.146.226,ES,ocsc_nrct,ocscnrct,<br><h1><marquee><font color=red></font> <font color=black>[สำนักงานคณะกรรมการวิจัยแห่งชาติ]</font> </marquee></h1>;
52.ocsc_seis,oci8,164.115.146.226,ES,ocsc_seis,ocscseis,<br><h1><marquee><font color=red></font> <font color=black>[seis]</font> </marquee></h1>;
53.ind industry ฐานข้อมูล สำนักงานปลัดกระทรวงอุตสาหกรรม,oci8,164.115.146.226,ES,ocsc_ind,ocscind,<br><h1><marquee><font color=red></font> <font color=black>[สำนักงานปลัดกระทรวงอุตสาหกรรม]</font> </marquee></h1>;
54.seis 280261,oci8,164.115.146.226,ES,seis280261,seis280261,<br><h1><marquee><font color=red></font> <font color=black>[seis280261]</font> </marquee></h1>;
55.OCSC_MOPH กรมอนามัย,oci8,164.115.146.226,ES,ocsc_moph,ocscmoph,<br><h1><marquee><font color=red></font> <font color=black>[กรมอนามัย]</font> </marquee></h1>;
56.สำนักงานคณะกรรมการนโยบายรัฐวิสาหกิจ sepo,oci8,164.115.146.226,ES,ocsc_sepo,ocscsepo,<br><h1><marquee><font color=red></font> <font color=black>[สำนักงานคณะกรรมการนโยบายรัฐวิสาหกิจ]</font> </marquee></h1>;
57.สป.ยุติธรรม,oci8,164.115.146.226,ES,ocsc_moj,ocscmoj,<br><h1><marquee><font color=red></font> <font color=black>[สป.ยุติธรรม]</font> </marquee></h1>;
58.OCSC_MOPH01 กรมอนามัย(62),oci8,164.115.146.226,ES,ocsc_moph01,ocscmoph01,<br><h1><marquee><font color=red></font> <font color=black>[กรมอนามัย 62]</font> </marquee></h1>;
59.OCSC_DLA กรมส่งเสริมการปกครองท้องถิ่น,oci8,164.115.146.226,ES,ocsc_dlanow,ocscdlanow,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมส่งเสริมการปกครองท้องถิ่น now]</font> </marquee></h1>;
60.สำนักงานมาตรฐานผลิตภัณฑ์อุตสาหกรรม,oci8,164.115.146.226,ES,ocsc_tisi,ocsctisi,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[สำนักงานมาตรฐานผลิตภัณฑ์อุตสาหกรรม]</font> </marquee></h1>;
61.กรมอุตุ =>11/04/2561,oci8,164.115.146.226,ES,ocsc_tmd,ocsctmd,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมอุตุ]</font> </marquee></h1>;
62.สำนักงานมาตรฐานผลิตภัณฑ์อุตสาหกรรม61,oci8,164.115.146.226,ES,ocsc_tisi61,ocsctisi61,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[สำนักงานมาตรฐานผลิตภัณฑ์อุตสาหกรรม61]</font> </marquee></h1>;
63.กรมป่าไม้ oracle10,oci8,164.115.146.186,ES,ocsc_rfd10,ocscrfd10,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมป่าไม้ oracle 10]</font> </marquee></h1>;
64.กรมส่งเสริมสหกรณ์ ณวันที่ 21-04-2561,mysql,localhost,dpis35cpd,root,,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมส่งเสริมสหกรณ์]</font> </marquee></h1>;
65.กรมวิทยาศาสตร์การแพทย์,oci8,164.115.146.226,ES,ocsc_dmsc,ocscdmsc,<br><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล ของกรมวิทยาศาสตร์การแพทย์</font>;
66.สำนักข่าวกรองแห่งชาติ,oci8,164.115.146.226,ES,ocsc_nia,ocscnia,<br><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล ของสำนักข่าวกรองแห่งชาติ</font>;
67.ฐานเพิ่มข้อมูล,oci8,164.115.146.226,ES,ocsc_draftsepo,ocscdraftsepo,<br><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูลเริ่มต้น</font>;
68.ปปง สำนักงานป้องกันเเละปราบปราบยาเสพติด 08/06/2561,oci8,164.115.146.226,ES,ocsc_amlo,ocscamlo,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[กรมส่งเสริมสหกรณ์]</font> </marquee></h1>;
69.สำนักเลขาธิการนายกรัฐมนตรี (สลน) 09/06/2561,oci8,164.115.146.226,ES,ocsc_spm,ocscspm,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูล</font> <font color=black>[สำนักเลขาธิการนายกรัฐมนตรี (สลน)]</font> </marquee></h1>;
70.สำนักสำนักพระราชวัง 09/06/2561,oci8,164.115.146.226,ES,ocsc_brh,ocscbrh,<br><h1><marquee><font color=red>ขณะนี้ท่านกำลังทดสอบข้อมูลจากฐานข้อมูลสำนักพระราชวัง</font> <font color=black>[สำนักพระราชวัง]</font> </marquee></h1>;