BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #fee8ac; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #fee8ac; SCROLLBAR-SHADOW-COLOR: #fee8ac; SCROLLBAR-3DLIGHT-COLOR: #fee8ac; SCROLLBAR-ARROW-COLOR: #d25603; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #fedd80; SCROLLBAR-DARKSHADOW-COLOR: white
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.page_title {
	FONT: bold 12pt "MS Sans Serif"; COLOR: #ffffff; TEXT-DECORATION: none
}
.logon_user {
	FONT: bold 12pt "MS Sans Serif"; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu_div {
	BORDER-RIGHT: #6c98c8 1px solid; BORDER-TOP: #6c98c8 1px solid; BORDER-LEFT: #6c98c8 1px solid; BORDER-BOTTOM: #6c98c8 0px solid
}
.menu_td {
	BORDER-RIGHT: #6c98c8 0px solid; BORDER-TOP: #6c98c8 0px solid; BORDER-LEFT: #6c98c8 0px solid; BORDER-BOTTOM: #6c98c8 1px solid
}
.menu_background {
	BACKGROUND-IMAGE: url(../images/menu_bg.jpg)
}
.menu_active {
	FONT: bold 8pt "MS Sans Serif"; COLOR: #d25603; TEXT-DECORATION: none
}
.menu_inactive {
	FONT: bold 8pt "MS Sans Serif"; COLOR: #1f66bb; TEXT-DECORATION: none
}
.menu_sub_active {
	BORDER-RIGHT: #6c98c8 1px solid; BORDER-TOP: #6c98c8 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #6c98c8 1px solid; COLOR: #0000ff; BORDER-BOTTOM: #6c98c8 1px solid; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #faf9ed
}
.menu_sub_nonactive {
	BORDER-RIGHT: #6c98c8 1px solid; BORDER-TOP: #6c98c8 1px solid; FONT-SIZE: 8px; BORDER-LEFT: #6c98c8 1px solid; COLOR: #000000; BORDER-BOTTOM: #6c98c8 1px solid; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #faf9ed
}
.menu_lv1_active {
	BORDER-RIGHT: #6c98c8 0px solid; BORDER-TOP: #6c98c8 0px solid; FONT-SIZE: 10px; BORDER-LEFT: #6c98c8 0px solid; COLOR: #0000ff; BORDER-BOTTOM: #6c98c8 1px solid; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #fee8ac
}
.menu_lv1_inactive {
	BORDER-RIGHT: #6c98c8 0px solid; BORDER-TOP: #6c98c8 0px solid; FONT-SIZE: 8px; BORDER-LEFT: #6c98c8 0px solid; COLOR: #1f66bb; BORDER-BOTTOM: #6c98c8 1px solid; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #faf9ed
}
.menu_lv2_active {
	BORDER-RIGHT: #6c98c8 0px solid; BORDER-TOP: #6c98c8 0px solid; FONT-SIZE: 10px; BORDER-LEFT: #6c98c8 0px solid; COLOR: #0000ff; BORDER-BOTTOM: #6c98c8 1px solid; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #fee8ac
}
.menu_lv2_inactive {
	BORDER-RIGHT: #6c98c8 0px solid; BORDER-TOP: #6c98c8 0px solid; FONT-SIZE: 8px; BORDER-LEFT: #6c98c8 0px solid; COLOR: #d25603; BORDER-BOTTOM: #6c98c8 1px solid; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #edf0f5
}
.menu_lv3_active {
	BORDER-RIGHT: #6c98c8 0px solid; BORDER-TOP: #6c98c8 0px solid; FONT-SIZE: 10px; BORDER-LEFT: #6c98c8 0px solid; COLOR: #0000ff; BORDER-BOTTOM: #6c98c8 1px solid; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #fefaac
}
.menu_lv3_inactive {
	BORDER-RIGHT: #6c98c8 0px solid; BORDER-TOP: #6c98c8 0px solid; FONT-SIZE: 8px; BORDER-LEFT: #6c98c8 0px solid; COLOR: #d25603; BORDER-BOTTOM: #6c98c8 1px solid; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #ffffff
}
.current_location {
	FONT: bold 10pt "MS Sans Serif"; COLOR: white; TEXT-DECORATION: none
}
.current_location_table {
	BACKGROUND-IMAGE: url(../images/tab_bg.jpg)
}
.current_location_right {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(../images/tab_bg_right.jpg); BACKGROUND-REPEAT: no-repeat
}
.input_table {
	BORDER-RIGHT: darkorange 1px solid; BORDER-TOP: darkorange 1px solid; FONT: 10pt "MS Sans Serif"; BORDER-LEFT: darkorange 1px solid; COLOR: #000000; BORDER-BOTTOM: darkorange 1px solid; TEXT-DECORATION: none
}
.login_table {
	BACKGROUND-IMAGE: url(../images/login_bg.jpg); FONT: bold 10pt "MS Sans Serif"; COLOR: #1f66bb; TEXT-DECORATION: none
}
.login_text {
	FONT: bold 10pt "MS Sans Serif"; COLOR: #1f66bb; TEXT-DECORATION: none
}
.table_head {
	FONT: bold 8pt "MS Sans Serif"; COLOR: white; BACKGROUND-COLOR: #439dc7; TEXT-DECORATION: none
}
.table_body {
	FONT: 10pt "MS Sans Serif"; COLOR: blue; BACKGROUND-COLOR: lightblue; TEXT-DECORATION: none
}
.table_body_over {
	FONT: 10pt "MS Sans Serif"; COLOR: blue; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.table_body_2 {
	FONT: 10pt "MS Sans Serif"; COLOR: black; BACKGROUND-COLOR: #e1edf5; TEXT-DECORATION: none
}
.table_body_2_over {
	FONT: 10pt "MS Sans Serif"; COLOR: black; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.table_body_3 {
	FONT: 10pt "MS Sans Serif"; COLOR: #1f66bb; BACKGROUND-COLOR: #edf0f5; TEXT-DECORATION: none
}
.table_body_3_over {
	FONT: 10pt "MS Sans Serif"; COLOR: #1f66bb; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.table_footer {
	FONT: bold 8pt "MS Sans Serif"; COLOR: white; BACKGROUND-COLOR: #439dc7; TEXT-DECORATION: none
}
.text_alert {
	FONT: 10pt "MS Sans Serif"; COLOR: red; TEXT-DECORATION: none
}
.text_disabled {
	FONT: 10pt "MS Sans Serif"; COLOR: #1f66bb; TEXT-DECORATION: none
}
.black_small {
	FONT: 8pt "MS Sans Serif"; COLOR: #000000; TEXT-DECORATION: none
}
.black_normal {
	FONT: 10pt "MS Sans Serif"; COLOR: #000000; TEXT-DECORATION: none
}
.black_bold {
	FONT: bold 10pt "MS Sans Serif"; COLOR: #000000; TEXT-DECORATION: none
}
.blue_small {
	FONT: 8pt "MS Sans Serif"; COLOR: blue; TEXT-DECORATION: none
}
.blue_normal {
	FONT: 10pt "MS Sans Serif"; COLOR: blue; TEXT-DECORATION: none
}
.blue_bold {
	FONT: bold 10pt "MS Sans Serif"; COLOR: blue; TEXT-DECORATION: none
}
.brown_small {
	FONT: 8pt "MS Sans Serif"; COLOR: #d25603; TEXT-DECORATION: none
}
.brown_normal {
	FONT: 10pt "MS Sans Serif"; COLOR: #d25603; TEXT-DECORATION: none
}
.brown_bold {
	FONT: bold 10pt "MS Sans Serif"; COLOR: #d25603; TEXT-DECORATION: none
}
.orange_small {
	FONT: 8pt "MS Sans Serif"; COLOR: orange; TEXT-DECORATION: none
}
.orange_normal {
	FONT: 10pt "MS Sans Serif"; COLOR: orange; TEXT-DECORATION: none
}
.orange_bold {
	FONT: bold 10pt "MS Sans Serif"; COLOR: orange; TEXT-DECORATION: none
}
.button {
	FONT-SIZE: 12px; CURSOR: hand; COLOR: #000000; FONT-FAMILY: MS Sans Serif; TEXT-DECORATION: none
}
.textbox {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: 1px outset; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8px; BACKGROUND-IMAGE: url(../images/bg_text.gif); COLOR: #000000; BORDER-BOTTOM: 1px outset; FONT-FAMILY: MS Sans Serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.framebox {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: 1px outset; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 8px; COLOR: #000000; BORDER-BOTTOM: 1px outset; FONT-FAMILY: MS Sans Serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.filebox {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: 1px outset; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../images/bg_text.gif); BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #ffffff
}
.selectbox {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: MS Sans Serif; BACKGROUND-COLOR: lightblue; TEXT-DECORATION: none
}
.layout_inactive {
	BORDER-RIGHT: #ffffcc 1px solid; BORDER-TOP: #ffffcc 1px solid; FONT: bold 8pt "MS Sans Serif"; BORDER-LEFT: #ffffcc 1px solid; CURSOR: hand; COLOR: white; BORDER-BOTTOM: #ffffcc 1px solid; BACKGROUND-COLOR: #439dc7; TEXT-DECORATION: none
}
.layout_active {
	BORDER-RIGHT: #ffffcc 1px solid; BORDER-TOP: #ffffcc 1px solid; FONT: 10pt "MS Sans Serif"; BORDER-LEFT: #ffffcc 1px solid; CURSOR: hand; COLOR: blue; BORDER-BOTTOM: #ffffcc 1px solid; BACKGROUND-COLOR: lightblue; TEXT-DECORATION: none
}
