.TABLE_DOT 
{ 
	font-family: "MS Sans Serif", "Microsoft Sans Serif"; 
	border: 1px #FF0000 dotted; 
	font-size: 14px; font-weight: 
	normal; color: #000000; 
	text-decoration: none;
}

.ButtonNormal
{
/*	background-color: buttonface; */
	background-color: #F5F9FC;
	border-left: buttonface solid 1px;
	border-top: buttonface solid 1px;
	border-right: buttonface solid 1px;
	border-bottom: buttonface solid 1px;
}

.ButtonPressed
{
/*	background-color: buttonface; */
	background-color: #F5F9FC;
	border-left: buttonshadow solid 1px;
	border-top: buttonshadow solid 1px;
	border-right: buttonhighlight solid 1px;
	border-bottom: buttonhighlight solid 1px;
}

.ButtonMouseOver
{
/*	background-color: buttonface; */
	background-color: #F5F9FC;
	border-left: buttonhighlight solid 1px;
	border-top: buttonhighlight solid 1px;
	border-right: buttonshadow solid 1px;
	border-bottom: buttonshadow solid 1px;
}

.ButtonDisabled
{
	background-color: buttonhighlight;
	border-left: buttonface solid 1px;
	border-top: buttonface solid 1px;
	border-right: buttonface solid 1px;
	border-bottom: buttonface solid 1px;
}

.Toolbar
{
/*	background-color: buttonface; */
	background-color: #F5F9FC;
/*	border-left: buttonhighlight solid 1px;
	border-top: buttonhighlight solid 1px;
	border-right: buttonshadow solid 1px; 
	border-bottom: buttonshadow solid 1px; */
	border-left: #CCE1F0 solid 1px;
	border-top: #CCE1F0 solid 1px;
	border-right: #CCE1F0 solid 1px; 
	border-bottom: #CCE1F0 solid 1px;
/*	height: 30px; */
}

.Divider
{
	background-color: buttonface;
	border-left: buttonshadow solid 1px;
	border-top: buttonshadow solid 1px;
	border-right: buttonhighlight solid 1px;
	border-bottom: buttonhighlight solid 1px;
	width: 2px;
	height: 24px;
}

.Swatch
{
	background-color: buttonface;
	border-left: buttonhighlight solid 1px;
	border-top: buttonhighlight solid 1px;
	border-right: buttonshadow solid 1px;
	border-bottom: buttonshadow solid 1px;
	width: 3px;
	height: 24px;
}

.Space
{
	background-color: buttonface;
	width: 0px;
	height: 24px;
}

.List
{
	background: lavender;
	font: 8pt verdana,arial,sans-serif
}

.Text
{
	font: 8pt verdana,arial,sans-serif
}

.Heading
{
	color:navy;
	background:lightgrey;
}

.iframe_box
{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	border: 1px solid #B3CBDD;
}